<a href="https://colab.research.google.com/github/PatchareepornT/Basicprg_DataViz65/blob/main/ProjectBPDV65.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
unit1 = pd.read_csv('/content/drive/MyDrive/ProjectBPDV65/opendata_unittype.csv')
unit1.head()

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2493,unittype_9387,project_3212,Silver Rhine,1,Detached House,บ้าน,60.0,275.00,8990000.0,...,1.0,1.0,1.0,NaN,NaN,2021-11-12 13:23:45,2020-10-14 21:39:14,baania,https://baania.com/th/project/บางกอก-บูเลอวาร์...,2022-11-01
1,38654,5f631dc55bdc5300198eb3bf,project_15528,ลลิลพฤกษ์,1,Detached House,บ้าน,NaN,NaN,4200000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:34:53,2020-09-17 15:26:55,baania,https://baania.com/th/project/ลลิล-อินเดอะพาร์...,2022-11-01
2,24493,unittype_14696,project_5931,กุสุมา,1,Detached House,บ้าน,NaN,169.00,NaN,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:19:42,2020-10-14 00:40:44,baania,https://baania.com/th/project/ชวนชื่น-กอล์ฟ-อเ...,2022-11-01
3,12834,unittype_34632,project_14929,ทาวน์โฮมสองชั้น,3,Townhome,ทาวน์โฮม,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,2020-12-04 10:37:45,2020-10-14 00:45:47,baania,https://baania.com/th/project/บ้านทรงพล-14929/...,2022-11-01
4,17863,unittype_20458,project_8017,1 Bedroom,2,Condo,คอนโด,NaN,28.33,1990000.0,...,1.0,1.0,NaN,NaN,NaN,2022-05-19 12:30:02,2022-05-19 11:56:16,baania,https://baania.com/th/project/เดอะ-เบลล่า-คอนโ...,2022-11-01

In [12]:
unit1.isnull().any()

row_number              False
unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
area_total_min_wa        True
area_usable_min          True
price_min                True
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
date_created            False
date_updated            False
source                  False
url_unittype            False
day                     False
dtype: bool

In [13]:
unit2 = unit1[['unittype_id','project_id','name_th','propertytype_name_th','area_usable_min','price_min']]
unit2

,unittype_id,project_id,name_th,propertytype_name_th,area_usable_min,price_min
0,unittype_9387,project_3212,Silver Rhine,บ้าน,275.00,8990000.0
1,5f631dc55bdc5300198eb3bf,project_15528,ลลิลพฤกษ์,บ้าน,NaN,4200000.0
2,unittype_14696,project_5931,กุสุมา,บ้าน,169.00,NaN
3,unittype_34632,project_14929,ทาวน์โฮมสองชั้น,ทาวน์โฮม,NaN,NaN
4,unittype_20458,project_8017,1 Bedroom,คอนโด,28.33,1990000.0
...,...,...,...,...,...,...
41679,unittype_32240,project_13504,Studio,คอนโด,44.00,3500000.0
41680,unittype_16596,project_6570,ทาวน์โฮมสามชั้น,ทาวน์โฮม,NaN,3800000.0
41681,unittype_27780,project_11187,อาคารพาณิชย์สองชั้น,อาคารพาณิชย์,96.00,1850000.0
41682,unittype_9574,project_2338,ทาวน์โฮมสองชั้น,ทาวน์โฮม,150.00,2190000.0
41683,5f5b3c49a1fefc0012ef3040,project_17337,Chester III,ทาวน์โฮม,NaN,NaN

In [14]:
unit2.isnull().any()

unittype_id             False
project_id              False
name_th                 False
propertytype_name_th    False
area_usable_min          True
price_min                True
dtype: bool

In [15]:
unit= unit2.dropna()

In [16]:
unit.isnull().any()

unittype_id             False
project_id              False
name_th                 False
propertytype_name_th    False
area_usable_min         False
price_min               False
dtype: bool

In [17]:
project1 = pd.read_csv('/content/drive/MyDrive/ProjectBPDV65/opendata_project.csv')
project1.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (27) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,7559.0,project_10253,The Villa Rachawadee,เดอะ วิลล่า ราชาวดี,1,Detached House,บ้าน,4690000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2017-09-27 14:21:11,NaN,2022-10-19 14:30:07,baania,https://baania.com/th/project/เดอะ-วิลล่า-ราชา...,2022-11-01
1,436.0,project_15897,Rajchaprarop Garden,ราชปรารภ การ์เด้น,2,Condo,คอนโด,1550000.0,developer_10510,NaN,...,0.0,0.0,0.0,1.0,2019-06-28 14:21:00,NaN,2020-12-04 10:43:13,baania,https://baania.com/th/project/ราชปรารภ-การ์เด้...,2022-11-01
2,19301.0,project_10774,Baan Nayu,บ้านน่าอยู่,4,Commercial,อาคารพาณิชย์,650000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2017-10-16 11:56:35,NaN,2021-07-06 15:00:10,baania,https://baania.com/th/project/บ้านน่าอยู่-proj...,2022-11-01
3,8877.0,5ea1685438be3400128e3698,Utopia Central,ยูโทเปีย เซ็นทรัล,2,Condo,คอนโด,2450000.0,5ea15fb738be3400128e3679,"Utopia Development Co., Ltd.",...,1.0,NaN,1.0,1.0,2020-04-23 17:05:08,2022-01-01 07:00:00,2022-03-18 16:30:04,baania,https://baania.com/th/project/ยูโทเปีย-เซ็นทรั...,2022-11-01
4,12216.0,project_1161,Rose Sarin,โรสรินทร์ (ท่ารั้ว),3,Townhome,ทาวน์โฮม,2300000.0,developer_1072,NaN,...,1.0,NaN,NaN,1.0,2016-02-16 10:49:01,2016-04-01 07:00:00,2022-01-11 16:30:05,baania,https://baania.com/th/project/โรสรินทร์-ท่ารั้...,2022-11-01

In [18]:
project1.isnull().any()

row_number                 True
project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
developer_name_th          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
neighborhood_name_th       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_tower                True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
date_created               True
date_finish                True
date_updated               True
source                     True
url_project                True
day                        True
dtype: bool

In [19]:
project2 = project1[['project_id','name_th','propertytype_name_th','price_min','longitude','longitude','neighborhood_name_th','subdistrict_name_th','district_name_th','province_name_th']]
project2

,project_id,name_th,propertytype_name_th,price_min,longitude,longitude,neighborhood_name_th,subdistrict_name_th,district_name_th,province_name_th
0,project_10253,เดอะ วิลล่า ราชาวดี,บ้าน,4690000.0,100.903702,100.903702,ทุ่งกลม,หนองปรือ,บางละมุง,ชลบุรี
1,project_15897,ราชปรารภ การ์เด้น,คอนโด,1550000.0,100.549295,100.549295,สนามเป้า,สามเสนใน,พญาไท,กรุงเทพมหานคร
2,project_10774,บ้านน่าอยู่,อาคารพาณิชย์,650000.0,101.009403,101.009403,นิคมอุตสาหกรรมอมตะนคร,หนองไม้แดง,เมืองชลบุรี,ชลบุรี
3,5ea1685438be3400128e3698,ยูโทเปีย เซ็นทรัล,คอนโด,2450000.0,98.350629,98.350629,NaN,กะทู้,กะทู้,ภูเก็ต
4,project_1161,โรสรินทร์ (ท่ารั้ว),ทาวน์โฮม,2300000.0,99.078362,99.078362,สันปูเลยใต้,สันปูเลย,ดอยสะเก็ด,เชียงใหม่
...,...,...,...,...,...,...,...,...,...,...
22962,project_11378,สุขปิติ วิว,ทาวน์โฮม,2400000.0,101.055679,101.055679,สำนักบก,สำนักบก,เมืองชลบุรี,ชลบุรี
22963,project_958,บ้านคำหยาดฟ้า,ทาวน์โฮม,1200000.0,98.951611,98.951611,วัดอุโมงค์-โป่งน้อย,สุเทพ,เมืองเชียงใหม่,เชียงใหม่
22964,project_10169,บ่อวินนคร,อาคารพาณิชย์,5900000.0,101.078633,101.078633,บ่อวิน,บ่อวิน,ศรีราชา,ชลบุรี
22965,project_13557,ออล สวีท ภูเก็ตซิตี้-พันวา,บ้าน,8000000.0,98.387406,98.387406,NaN,วิชิต,เมืองภูเก็ต,ภูเก็ต
22966,project_15322,บ้านรติรัตน์ บ้านกล้วย-ไทรน้อย,บ้านแฝด,2790000.0,100.345374,100.345374,ไทรน้อย,ไทรน้อย,ไทรน้อย,นนทบุรี

In [20]:
project2.isnull().any()

project_id              False
name_th                 False
propertytype_name_th    False
price_min                True
longitude                True
longitude                True
neighborhood_name_th     True
subdistrict_name_th      True
district_name_th         True
province_name_th         True
dtype: bool

In [21]:
project= project2.dropna()

In [22]:
project.isnull().any()

project_id              False
name_th                 False
propertytype_name_th    False
price_min               False
longitude               False
longitude               False
neighborhood_name_th    False
subdistrict_name_th     False
district_name_th        False
province_name_th        False
dtype: bool

In [23]:
train_station = pd.read_csv('/content/drive/MyDrive/ProjectBPDV65/opendata_train_station.csv')
train_station.head()

,row_number,gid,line_no,railway,line_typt,line_type,status,line_th,line_en,station_th,station_en,latitude,longitude,prov_namt,prov_name,amp_namt,amp_name,tam_namt,tam_name,day
0,45,256,9,รถไฟฟ้า,เอ็มอาร์ทีเอ,MRT,อนาคต,สายสีเหลือง,Yellow Line,ศรีเทพา,Si Thepha,13.630859,100.620892,สมุทรปราการ,SAMUT PRAKAN,บางพลี,BANG PHLI,บางแก้ว,BANG KAEO,2022-11-01
1,29,216,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,น้อมเกล้า,Nom Klao,13.785996,100.689656,กรุงเทพมหานคร,BANGKOK,สะพานสูง,SAPHAN SUNG,สะพานสูง,SAPHAN SUNG,2022-11-01
2,109,232,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,ดินแดง,Din Daeng,13.768490,100.550541,กรุงเทพมหานคร,BANGKOK,พญาไท,PHAYA THAI,สามเสนใน,SAM SEN NAI,2022-11-01
3,176,219,8,รถไฟฟ้า,เอ็มอาร์ที,MRT,อนาคต,สายสีส้ม,Orange Line,เคหะรามคำแหง,Keha Ramkhamhaeng,13.804877,100.725687,กรุงเทพมหานคร,BANGKOK,คลองสามวา,KHLONG SAM WA,ทรายกองดินใต้,SAI KONG DIN TAI,2022-11-01
4,55,152,5,รถไฟฟ้า,แอร์พอร์ต-เรล-ลิงค์,Airport-Rail-Link,ปัจจุบัน,แอร์พอร์ต เรล ลิงค์,Airport Rail Link,หัวหมาก,Hua Mak,13.738291,100.642239,กรุงเทพมหานคร,BANGKOK,สวนหลวง,PHATTHANAKAN,พัฒนาการ,SUAN LUANG,2022-11-01

In [24]:
train_station.isnull().any()

row_number    False
gid           False
line_no       False
railway       False
line_typt     False
line_type     False
status        False
line_th       False
line_en       False
station_th    False
station_en    False
latitude      False
longitude     False
prov_namt     False
prov_name     False
amp_namt      False
amp_name      False
tam_namt      False
tam_name      False
day           False
dtype: bool

In [25]:
train_line = pd.read_csv('/content/drive/MyDrive/ProjectBPDV65/opendata_train_line.csv')
train_line.head()

,row_number,name,area,status,geometry,day
0,22,สายสีน้ำตาล,แคราย-ลำสาลี,อนาคต,LINESTRING (100.5155029670176 13.8599801163895...,2022-11-01
1,16,สายสีเขียวอ่อน,ตลิ่งชัน - บางหว้า,อนาคต,LINESTRING (100.4402600000001 13.7892089999999...,2022-11-01
2,18,สายสีแดงเข้ม,มหาชัย - รางโพธิ์,อนาคต,LINESTRING (100.2609130546652 13.5609441473892...,2022-11-01
3,19,สายสีน้ำเงิน,บางซื่อ - เตาปูน - ท่าพระ,ปัจจุบัน,LINESTRING (100.4943425960887 13.7844907442280...,2022-11-01
4,41,สายสีแดงอ่อน,มักกะสัน-หัวหมาก,อนาคต,"LINESTRING (100.643561 13.73794300000001, 100....",2022-11-01

In [26]:
train_line.isnull().any()

row_number    False
name          False
area          False
status        False
geometry      False
day           False
dtype: bool

In [27]:
eating_score = pd.read_csv('/content/drive/MyDrive/ProjectBPDV65/opendata_eating_score.csv')
eating_score.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,95,3835,SALA THAMMASOP,ศาลาธรรมสพน์,3833,THAWI WATTHANA,ทวีวัฒนา,3781,Bangkok,กรุงเทพมหานคร,67.0,79.0,63.0,56.0,63.0,71.0,59.0,62.0,baania,2022-10-31
1,17,3602,BANG KHAYAENG,บางขะแยง,3600,MUEANG PATHUM THANI,เมืองปทุมธานี,3599,Pathum Thani,ปทุมธานี,57.0,74.0,40.0,67.0,53.0,65.0,35.0,58.0,baania,2022-10-31
2,11,3793,SAI KONG DIN TAI,ทรายกองดินใต้,3791,KHLONG SAM WA,คลองสามวา,3781,Bangkok,กรุงเทพมหานคร,50.0,72.0,32.0,50.0,49.0,65.0,22.0,57.0,baania,2022-10-31
3,203,3652,CHIANG RAK YAI,เชียงรากใหญ่,3647,SAM KHOK,สามโคก,3599,Pathum Thani,ปทุมธานี,41.0,28.0,38.0,71.0,47.0,31.0,33.0,64.0,baania,2022-10-31
4,185,3442,BAN LAENG,บ้านแลง,3432,MUEANG RAYONG,เมืองระยอง,3431,Rayong,ระยอง,55.0,70.0,54.0,32.0,41.0,40.0,38.0,45.0,baania,2022-10-31

In [28]:
eating_score.isnull().any()

row_number                  False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
source                      False
day                         False
dtype: bool

In [29]:
living_score= pd.read_csv('/content/drive/MyDrive/ProjectBPDV65/opendata_living_score.csv')
living_score.head()

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,...,access_train,access_total,drive_leisure,drive_public_service,drive_school,drive_shopping,drive_work,drive_total,source,day
0,184,3809,BANG KHO,บางค้อ,3806,CHOM THONG,จอมทอง,3781,Bangkok,กรุงเทพมหานคร,...,65.0,90.0,100.0,70.0,100.0,86.0,85.0,88.0,baania,2022-10-31
1,320,3692,NONG PAK LONG,หนองปากโลง,3668,MUEANG NAKHON PATHOM,เมืองนครปฐม,3667,Nakhon Pathom,นครปฐม,...,0.0,0.0,94.0,92.0,97.0,100.0,98.0,97.0,baania,2022-10-31
2,47,3828,KHLONG CHAK PHRA,คลองชักพระ,3826,TALING CHAN,ตลิ่งชัน,3781,Bangkok,กรุงเทพมหานคร,...,1.0,42.0,100.0,63.0,100.0,97.0,70.0,92.0,baania,2022-10-31
3,84,3951,LAT KRABANG,ลาดกระบัง,3950,LAT KRABANG,ลาดกระบัง,3781,Bangkok,กรุงเทพมหานคร,...,1.0,76.0,92.0,53.0,98.0,98.0,88.0,91.0,baania,2022-10-31
4,118,3872,BANG PHAI,บางไผ่,3869,BANG KHAE,บางแค,3781,Bangkok,กรุงเทพมหานคร,...,1.0,34.0,90.0,51.0,96.0,77.0,57.0,77.0,baania,2022-10-31

In [30]:
living_score.isnull().any()

row_number              False
subdistrict_id          False
subdistrict_name_en     False
subdistrict_name_th     False
district_id             False
district_name_en        False
district_name_th        False
province_id             False
province_name_en        False
province_name_th        False
walk_leisure            False
walk_public_service     False
walk_school             False
walk_shopping           False
walk_work               False
walk_total              False
access_boat             False
access_bus              False
access_train            False
access_total            False
drive_leisure           False
drive_public_service    False
drive_school            False
drive_shopping          False
drive_work              False
drive_total             False
source                  False
day                     False
dtype: bool

In [31]:
volume_listing_rent= pd.read_csv('/content/drive/MyDrive/ProjectBPDV65/opendata_volume_listing_rent.csv')
volume_listing_rent.head()

,row_number,transction_year,transction_month,project_province_name_th,project_province_name_en,project_district_name_th,project_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_rental,day
0,17,2021,10,นนทบุรี,Nonthaburi,เมืองนนทบุรี,MUEANG NONTHABURI,คอนโด,Condo,575,2022-11-01
1,1224,2019,10,กรุงเทพมหานคร,Bangkok,ดอนเมือง,DON MUEANG,คอนโด,Condo,27,2022-11-01
2,1085,2021,7,กรุงเทพมหานคร,Bangkok,วัฒนา,VADHANA,คอนโด,Condo,3093,2022-11-01
3,187,2019,1,กรุงเทพมหานคร,Bangkok,คลองเตย,KHLONG TOEI,คอนโด,Condo,391,2022-11-01
4,1582,2022,1,กรุงเทพมหานคร,Bangkok,บางกอกน้อย,BANGKOK NOI,คอนโด,Condo,21,2022-11-01

In [32]:
volume_listing_rent.isnull().any()

row_number                      False
transction_year                 False
transction_month                False
project_province_name_th        False
project_province_name_en        False
project_district_name_th        False
project_district_name_en        False
project_propertytype_name_th    False
project_propertytype_name_en    False
volume_of_rental                False
day                             False
dtype: bool

In [33]:
median_price_rent= pd.read_csv('/content/drive/MyDrive/ProjectBPDV65/opendata_median_price_rent.csv')
median_price_rent.head()

,row_number,transction_year,transction_month,project_province_name_th,project_province_name_en,project_district_name_th,project_district_name_en,project_propertytype_name_th,project_propertytype_name_en,total_listing,median_rent_price_sqm,day
0,1427,2020,3,กรุงเทพมหานคร,Bangkok,บางกอกน้อย,BANGKOK NOI,คอนโด,Condo,11,277,2022-11-01
1,1992,2021,7,กรุงเทพมหานคร,Bangkok,ภาษีเจริญ,PHASI CHAROEN,ทาวน์โฮม,Townhome,18,157,2022-11-01
2,1971,2021,7,นนทบุรี,Nonthaburi,ปากเกร็ด,PAK KRET,ทาวน์โฮม,Townhome,11,112,2022-11-01
3,374,2022,1,กรุงเทพมหานคร,Bangkok,ราษฎร์บูรณะ,RAT BURANA,คอนโด,Condo,20,242,2022-11-01
4,1739,2019,4,กรุงเทพมหานคร,Bangkok,สวนหลวง,SUAN LUANG,คอนโด,Condo,185,361,2022-11-01

In [34]:
median_price_rent.isnull().any()

row_number                      False
transction_year                 False
transction_month                False
project_province_name_th        False
project_province_name_en        False
project_district_name_th        False
project_district_name_en        False
project_propertytype_name_th    False
project_propertytype_name_en    False
total_listing                   False
median_rent_price_sqm           False
day                             False
dtype: bool